{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'videos/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block extracss %}{% endblock extracss %}
  </head>
  <body>
    {% include 'chat/navbar.html' %}
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- Popper and Bootstrap JS -->
    <script src="{% static 'chat/js/popper.min.js' %}"></script>
    <script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>